<header ng-switch on="$location.path().indexOf('/Produtos/new') > -1">
    <h3 ng-switch-when="true">Create a new Produto</h3>
    <h3 ng-switch-when="false">View or edit Produto</h3>
</header>
<form id="ProdutoForm" name="ProdutoForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
        <div class="form-group" ng-class="{'has-error': ProdutoForm.nome.$invalid}">
        <label for="nome" class="col-sm-2 control-label">Nome</label>
        <div id="nomeControls" class="col-sm-10">
            <input id="nome" name="nome" type="text" class="form-control" ng-model="produto.nome" placeholder="Enter the Produto Nome"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoForm.precoCusto.$invalid}">
        <label for="precoCusto" class="col-sm-2 control-label">Preco Custo</label>
        <div id="precoCustoControls" class="col-sm-10">
            <input id="precoCusto" name="precoCusto" type="number" class="form-control" ng-model="produto.precoCusto" placeholder="Enter the Produto Preco Custo"></input>
            <span class="help-block error" ng-show="ProdutoForm.precoCusto.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoForm.precoVenda.$invalid}">
        <label for="precoVenda" class="col-sm-2 control-label">Preco Venda</label>
        <div id="precoVendaControls" class="col-sm-10">
            <input id="precoVenda" name="precoVenda" type="number" class="form-control" ng-model="produto.precoVenda" placeholder="Enter the Produto Preco Venda"></input>
            <span class="help-block error" ng-show="ProdutoForm.precoVenda.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoForm.quantidadeEstoque.$invalid}">
        <label for="quantidadeEstoque" class="col-sm-2 control-label">Estoque</label>
        <div id="quantidadeEstoqueControls" class="col-sm-10">
            <input id="quantidadeEstoque" name="quantidadeEstoque" type="number" class="form-control" ng-model="produto.quantidadeEstoque" placeholder="Enter the Produto Quantidade Estoque"></input>
            <span class="help-block error" ng-show="ProdutoForm.quantidadeEstoque.$error.number">not a number</span>
        </div>
    </div>
    
    <div class="form-group" ng-class="{'has-error': ProdutoForm.quantidadeEstoque.$invalid}">
        <label for="icone" class="col-sm- control-label">Icone</label>
        <div id="iconeControls" class="col-sm-10">
            <input id="icone" name="icone" type="text" class="form-control" ng-model="produto.icone" placeholder="Icone" disabled></input>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" ng-init="init()">Small modal</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveProduto" name="saveProduto" class="btn btn-primary" ng-disabled="isClean() || ProdutoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteProduto" name="deleteProduto" class="btn btn-danger" ng-show="produto.id" ng-click="remove()">
            <span class="glyphicon glyphicon-trash"></span>Delete</button>
        </div>
    </div>
	<div class="form-group">
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" 
			 aria-labelledby="gridSystemModalLabel" id="modalIconesProduto">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title">Icone do Produto</h4>
					</div>
					<div class="bs-glyphicons">
						<ul class="bs-glyphicons-list">

							<li ng-repeat="icone in icones" ng-click="selecionarIcone('#modalIconesProduto', icone);">
								<span class="{{ icone.calsse }}" aria-hidden="true"></span>
								<span class="glyphicon-class">{{ icone.nomeIcone }}</span>
							</li>

						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>