<h2>
    <span class="glyphicon glyphicon-check"></span> Produto desenvolvido por Aline Solutions
</h2>
<p>
    <a target="_blank" href="http://forge.jboss.org/docs/index.html">Documentation</a>
  | <a target="_blank" href="https://github.com/ggmoura/">Projeto!</a><br />
    <a target="_blank" href="http://jboss.org/forge"><br />
        Forge Project</a> | <a target="_blank"
        href="https://community.jboss.org/en/forge">User
        Forums</a> | <a target="_blank"
        href="https://issues.jboss.org/browse/FORGEPLUGINS">Report an issue</a>
</p>